* {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Inter", serif;
    font-weight: 500;
    font-style: normal;
}
.banner {
    display: block;
    width: 100%;
}
.banner-image {
    object-fit: cover;
    display: block;
    width: 100%;
    height: 90vh;
    border-bottom-left-radius: 2%;
    border-bottom-right-radius: 2%;
}
footer {
    background: linear-gradient(
        92.18deg,
        rgb(117, 1, 92) -25.78%,
        rgb(78, 7, 92) 123.02%
    );
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
}

.container {
    margin: 0 80px;
}
.under {
    margin-top: 30px;
}
.items {
    margin-right: 100px;
}

.layout {
    font-size: 110%;
    padding: 0.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-leak {
    text-decoration: none;
}
.logo-container {
    display: flex;
    align-items: center;
}
.logo-big {
    width: 650px;
}
.flexed {
    gap: 20px;
    display: flex;
    align-items: center;
    text-align: center;
}
.centrified {
    justify-content: center;
}
.after-flexed {
    margin-top: 10px;
}
.logo-image {
    width: 150px;
}
.menuItem {
    padding: 0.3em 3em;
    text-decoration: none;
    white-space: nowrap;
    font-size: 20px;
    color: black;
    transition: color 0.3s ease;
}
.menuItem:hover {
    color: rgb(78, 7, 92);
}

.heading {
    padding-top: 30px;
    font-size: 45px;
    font-weight: 700;
    color: rgb(117, 1, 92);
}
.white {
    color: white;
}
ul {
    list-style: none;
}
li:before {
    content: "•";
    margin-right: 3px;
}
li {
    line-height: 1.25em;
}
.paragraph {
    font-size: 1.2em; /* Размер шрифта */
    line-height: 1.6; /* Высота строки */
    color: #333; /* Цвет текста */

    text-align: justify; /* Выравнивание текста по ширине */
    font-family: "Arial", sans-serif; /* Шрифт */
    padding: 0.5em; /* Внутренний отступ */

    border-left: 4px solid rgb(117, 1, 92);

    border-radius: 5px; /* Радиус границ */
}

.form-container {
    max-width: 800px;

    margin: 2em auto;
    background-color: #fff;
    padding: 4em;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #e0e0e0;
}
.form-group {
    margin-bottom: 1.5em;
    position: relative;
}
.form-group label {
    display: block;
    font-weight: 700;
    margin-bottom: 0.5em;
    font-size: 1.1em;
    color: #333;
}
.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"],
.form-group textarea {
    width: 100%;
    padding: 0.75em;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 1em;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}
.form-group input[type="text"]:focus,
.form-group input[type="email"]:focus,
.form-group input[type="password"]:focus,
.form-group textarea:focus {
    border-color: rgb(117, 1, 92);
    box-shadow: 0 0 5px rgba(143, 1, 124, 0.5);
    outline: none;
}

.submit-btn {
    display: block;
    width: 100%;
    padding: 0.75em;
    border: none;
    border-radius: 10px;
    background: linear-gradient(
        92.18deg,
        rgb(117, 1, 92) -25.78%,
        rgb(78, 7, 92) 123.02%
    );
    color: #fff;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
.submit-btn:hover {
    background: linear-gradient(
        92.18deg,
        rgb(78, 15, 65) -25.78%,
        rgb(76, 15, 87) 123.02%
    );
    transform: translateY(-2px);
}
.form-group textarea {
    resize: vertical;
}
.privacy-text {
    text-align: center;
    margin-top: 1em;
    font-size: 0.8em;
    color: #555;
    line-height: 1.4;
}

.contact-row {
    margin-top: 2em;
    display: block;
    justify-content: center;

    gap: 10%;
}
.insta {
    display: flex;

    align-items: center;
}
.insta-logo {
    width: 4em;
}
.map_and_info {
    display: flex;
    gap: 15%;
}
.map {
    width: 40%;
    border-radius: 5%;
}
.ending {
    text-align: center;
}
.footer {
    padding-bottom: 100px;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fefefe;

    border-radius: 1em;
    margin: 10% auto;
    padding: 1em;
    border: 0.1em solid #888;
    width: 40%;
}
.modal-review {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
}
.modal-review-content {
    background-color: #fefefe;

    border-radius: 1em;
    margin: 10% auto;
    padding: 1em;
    border: 0.1em solid #888;
    width: 80%;
    font-size: 90%;
}
.close {
    color: #aaa;
    float: right;
    font-size: 160%;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.burger-menu {
    display: none;

    flex-direction: column;
    cursor: pointer;
}
.bar {
    width: 25px;
    height: 3px;
    background: linear-gradient(92.18deg, #a049e9 -25.78%, #6643db 123.02%);
    margin: 3px 0;
}
.audio-container {
    width: 80%;
    border-radius: 2em;
    position: fixed;
    bottom: 35px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(255, 255, 255, 0.9);
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    z-index: 1000;
}

.audio-info {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.audio-info span {
    display: block;
    margin-top: 5px;
}

.custom-controls {
    display: flex;
    align-items: center;
    gap: 10px;
}

.custom-controls button {
    padding: 10px;
    border: none;
    background-color: transparent;
    font-size: 24px;
    cursor: pointer;
    color: rgb(117, 1, 92);
}

.custom-controls button:focus {
    outline: none;
}

.custom-controls button:active {
    color: rgb(117, 1, 92);
}

.volume-control {
    display: flex;
    align-items: center;
    gap: 5px;
}

.volume-control i {
    font-size: 24px;
    color: rgb(117, 1, 92);
}

.volume-control input[type="range"] {
    width: 100px;
    cursor: pointer;
    -webkit-appearance: none; /* Убирает стандартный стиль браузеров на базе WebKit */
    background: #ddd;
}

.volume-control input[type="range"]::-webkit-slider-runnable-track {
    height: 8px;
    background: rgb(117, 1, 92); /* Цвет трека */
    border-radius: 5px;
}

.volume-control input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 16px;
    width: 16px;
    background: rgba(143, 1, 124); /* Цвет бегунка */
    border-radius: 50%;
    margin-top: -4px; /* Сдвиг чтобы thumb был по центру track */
}

.volume-control input[type="range"]::-moz-range-track {
    height: 8px;
    background: rgb(117, 1, 92); /* Цвет трека */
    border-radius: 5px;
}

.volume-control input[type="range"]::-moz-range-thumb {
    height: 16px;
    width: 16px;
    background: rgba(143, 1, 124); /* Цвет бегунка */
    border-radius: 50%;
}

.volume-control input[type="range"]::-ms-track {
    height: 8px;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

.volume-control input[type="range"]::-ms-fill-lower {
    background: rgb(117, 1, 92); /* Цвет трека */
    border-radius: 5px;
}

.volume-control input[type="range"]::-ms-fill-upper {
    background: rgba(143, 1, 124); /* Цвет трека */
    border-radius: 5px;
}

.volume-control input[type="range"]::-ms-thumb {
    height: 16px;
    width: 16px;
    background: rgb(117, 1, 92); /* Цвет бегунка */
    border-radius: 50%;
}

/* Скрыть оригинальный элемент аудио */
audio.radio {
    display: none;
}

@media screen and (max-width: 1260px) {
    .modal-content {
        width: 70%;
        margin: 12% auto;
    }
    .modal-review-content {
        font-size: 80%;
        margin: 12% auto;
    }
    .logo-image {
        width: 170px;
    }
    .menuItem {
        font-size: 90%;
    }
    .logo-big {
        width: 360px;
    }
}
@media screen and (max-width: 1150px) {
    .items {
        margin-right: 0;
        font-size: 110%;
    }
    .map {
        width: 60%;
    }
    .logo-container {
        font-size: 80%;
    }
    .menuItem {
        font-size: 80%;
    }
}
@media screen and (max-width: 980px) {
    .logo-image {
        width: 140px;
    }

    .modal-content {
        margin: 15% auto;
    }

    .menuItem {
        font-size: 70%;
    }
}
@media screen and (max-width: 910px) {
    .heading {
        font-size: 160%;
    }
    .map {
        width: 100%;
        height: 60vh;
        border-radius: 2em;
    }
    .contact-row {
        flex-direction: column;
        text-align: center;
    }
    .insta {
        display: flex;
        flex-direction: column;
        gap: 1%;
        justify-content: center;
    }
    .hide {
        display: none;
    }
    .map_and_info {
        flex-direction: column;
    }
    .flexed {
        flex-direction: column;
    }
    .logo-big {
        max-width: 300px;
    }
    .logo-container {
        font-size: 70%;
    }
    .menuItem {
        font-size: 70%;
    }

    .burger-menu {
        display: flex;
    }
    .items {
        display: none;
    }
    .menuItem {
        display: block;
        padding: 10px 15px;
        text-decoration: none;
        color: rgb(215, 215, 215);
        transition: background-color 0.3s;
    }
    .menuItem.rounded {
        border-radius: 0;
        background-color: rgb(235, 235, 235);
    }
    .items.active {
        display: flex;
        position: absolute;
        flex-direction: column;
        top: 80px;
        left: 0;
        width: 100%;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 100;
    }
    .menuItem {
        color: rgb(25, 25, 25);
    }
    .menuItem:hover {
        color: rgb(50, 50, 50);
    }
    .logo-image {
        width: 180px;
    }
}

@media screen and (max-width: 768px) {
    .banner-image {
        height: 80vh;
        object-fit: cover;
    }

    .heading {
        font-size: 200%;
    }
    .form-container {
        max-width: 600px;
    }
    .contact-row {
        font-size: 80%;
    }
    .modal-review-content {
        font-size: 70%;
    }
}
@media screen and (max-width: 720px) {
    .banner-image {
        height: 80vh;
    }
    .modal-content {
        width: 75%;
        margin: 20% auto;
    }
    .modal-review-content {
        margin: 20% auto;
    }
}
@media screen and (max-width: 640px) {
    .form-container {
        max-width: 400px;
        padding: 10px;
    }
    .banner-image {
        height: 70vh;
    }
    .modal-content {
        margin: 25% auto;
    }
    .modal-review-content {
        margin: 25% auto;
    }
    .audio-container {
        gap: 10px;
    }
}
@media screen and (max-width: 560px) {
    .logo-container {
        font-size: 70%;
    }
    .menuItem {
        font-size: 70%;
    }
    .footer {
        padding-bottom: 200px;
    }
    .ending {
        width: 100%;
    }
    .banner-image {
        height: 60vh;
    }
    .modal-content {
        margin: 30% auto;
    }
}
@media screen and (max-width: 480px) {
    .form-container {
        font-size: 80%;
        max-width: 300px;
        padding: 20px;
    }
    .items.active {
        top: 65px;
    }
    .modal-content {
        width: 90%;
        font-size: 80%;
        margin: 35% auto;
    }
    .modal-review-content {
        margin: 30% auto;
    }
    .logo-image {
        width: 130px;
    }
    .banner-image {
        height: 50vh;
    }
}
@media screen and (max-width: 420px) {
    .banner-image {
        height: 40vh;
    }
    .heading {
        font-size: 240%;
    }
}

@media screen and (min-width: 1550px) {
    .logo-container {
        font-size: 130%;
    }
    .menuItem {
        font-size: 130%;
    }
    .hide {
        font-size: 130%;
    }
    .form-container {
        font-size: 120%;
    }

    .modal-content {
        font-size: 110%;
    }
    .modal-review-content {
        font-size: 110%;
    }
}
@media screen and (min-width: 1756px) {
    .logo-container {
        font-size: 150%;
    }
    .menuItem {
        font-size: 140%;
    }

    .heading {
        font-size: 350%;
    }
    .contact-row {
        font-size: 140%;
    }

    .form-container {
        font-size: 140%;
        max-width: 1000px;
    }
    .modal-content {
        font-size: 120%;
    }
    .modal-review-content {
        font-size: 120%;
    }

    .logo-image {
        width: 250px;
    }
}
@media screen and (min-width: 2100px) {
    .logo-container {
        font-size: 170%;
    }
    .menuItem {
        font-size: 140%;
    }

    .heading {
        font-size: 370%;
    }

    .form-container {
        font-size: 180%;
        max-width: 1200px;
    }

    .contact-row {
        font-size: 160%;
    }
    .modal-content {
        font-size: 130%;
    }
    .modal-review-content {
        font-size: 130%;
    }
}
@media screen and (min-width: 2300px) {
    .logo-image {
        width: 333px;
    }

    .logo-container {
        font-size: 190%;
    }
    .menuItem {
        font-size: 140%;
    }
    .items {
        margin-right: 0;
    }
    .heading {
        font-size: 390%;
    }

    .modal-content {
        font-size: 140%;
    }
    .modal-review-content {
        font-size: 140%;
    }
}
